/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/styles/ChatRoom.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.ChatRoom_chatContainer__RUR_E {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px); /* Adjust this to fit your layout */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 transparent; /* For Firefox */
  }
  
  .ChatRoom_chatContainer__RUR_E::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .ChatRoom_chatContainer__RUR_E::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  .ChatRoom_chatContainer__RUR_E::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Roundness of the scrollbar thumb */
  }
  
  .ChatRoom_chatContainer__RUR_E::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }
  
